/*
* Variant: EverForest Dark
* Maintainer: juniusDev
*/

@define-color base            #1F1F28;

@define-color text            #DCD7BA;

@define-color red             #E67E80;
@define-color orange          #E69875;
@define-color yellow          #DBBC7F;
@define-color green           #6A9589;
@define-color blue            #7FBBB3;
@define-color purple          #D699B6;
