@import "kanagawa.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 16px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
}

#waybar {
  background: @base;
  color: @base;
}

#workspaces {
  background: @base;
  margin-left: 1rem;
}

#workspaces button {
  color: @text;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @green;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @text;
  border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#custom-stream_status {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#custom-stream_status.up {
  color: #c3e88d;
}

#custom-stream_status.warning {
  color: #ff9e64;
}

#custom-stream_status.down {
  color: #ea999c;
}

#memory {
	color: @text;
}

#clock {
  color: @text;
  margin-right: 1rem;
}

#battery {
  color: @text;
}

#battery.charging {
  color: @text;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @text;
}

#backlight,
#battery {
}

#pulseaudio {
  color: @text;
  margin-left: 1rem;
}

#custom-music {
  color: #ca9ee6;
}

#custom-lock {
  color: @text;
}

#custom-power {
  margin-right: 1rem;
  color: @text;
}

#cpu {
	color: @text;
}

#network {
	color: @text;
}


#tray {
  margin-right: 1rem;
  margin-left: 1rem;
	color: @text;
}

